<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CDNs for jQuery, Popper.js and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- CDNs for fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- my css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- my javascript -->
    <script src="/js/main.js"></script>

    <title>News Scraper</title>
</head>

<body class="bg-orange">

    <div class="container bg-white border border-secondary rounded">
        <header class="row bg-ltgreen border-bottom header_bg">
            <div class="col-12 align-self-center">
                <h2 class="px-2 py-4">Scrape the latest Baseball news...</h2>
            </div>
        </header>
        <nav class="row nav_bg navbar navbar-expand-lg navbar-light px-0">
            <button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item m-2">
                        <a class="nav-link text-link" href="/"><i class="fas fa-home mx-1"></i>Home</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="nav-link text-link" href="/articles"><i class="fas fa-save mx-1"></i>Saved Articles</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="btn btn-scrape" href="/scrape/baseballamerica"><i class="fas fa-download mr-1"></i>Scrape Baseball America</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="btn btn-scrape" href="/scrape/fangraphs"><i class="fas fa-download mr-1"></i>Scrape Fangraphs</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="btn btn-scrape" href="/scrape/mlb"><i class="fas fa-download mr-1"></i>Scrape MLB</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="my-4">
            {{{ body }}}
        </div>

        <div class="row bg-ltgreen">
            <footer class="col-12 border-top p-2 d-flex align-items-center justify-content-center">
                <span class="small">Copyright &#169; 2019 mike14747</span>
            </footer>
        </div>
    </div>

</body>

</html>