<h4 class="text-dkgreen pb-4">Scrape the latest baseball headlines from the following websites:</h4>

<ul class="list-group list-group-flush">
    <li class="list-group-item p-4"><img src="images/baseballamerica.png" alt="Baseball America" class="float-left mr-2"><span class="font-weight-bolder">Baseball America</span>: a sports magazine that covers baseball at every level, with a particular focus on up-and-coming players in high school, college, Japan, and the minor leagues. It is currently published in the form of a bi-weekly newspaper, five annual reference book titles, a weekly podcast and a website.</li>
    <li class="list-group-item p-4"><img src="images/fangraphs.png" alt="Fangraphs" class="float-left mr-2"><span class="font-weight-bolder">Fangraphs</span>: baseball statistics for Major League baseball and Minor League baseball with statistical analysis, graphs, and projections.</li>
    <li class="list-group-item p-4"><img src="images/mlb.png" alt="MLB" class="float-left mr-2"><span class="font-weight-bolder">MLB</span>: the official site of Major League Baseball. It's a source of baseball-related information, including baseball news, statistics and sports columns.</li>
</ul>